<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
  <head>
    <meta charset="UTF-8">
    <title>Vets list</title>
  </head>
  <body>
    <!--/*@thymesVar id="vet" type="ar.net.edufmass.springpetclinic.model.Vet"*/-->
    <h2>Vets</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 150px;">ID</th>
        <th>City</th>
        <th style="width: 200px;">First name</th>
        <th style="width: 120px">Last name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="vet : ${vets}">
        <td th:text="${vet?.getId()}"></td>
        <td></td>
        <td th:text="${vet?.getFirstName()}"></td>
        <td th:text="${vet?.getLastName()}"></td>
      </tr>
      </tbody>
    </table>

  </body>
</html>